<%= stylesheet_link_tag "labels" %>

<h1><%= t :label_list %></h1>

<table>
  <thead>
    <tr>
      <th><%= t :label %></th>
    </tr>
  </thead>
  <tbody>
    <% @labels.each do |label| %>
      <tr>
        <td><%= label.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
