// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

input[type=text] {
  width: 45vw;
}

table,
th,
td {
  border: 1px solid #000;
}

th {
  text-align: center;
  background-color: #ddd;
}

.search-form {
  margin-bottom: 1vh;
}

.pagination {
  display: block;
}
